.elementor-712 .elementor-element.elementor-element-acafbf5:not(.elementor-motion-effects-element-type-background),
.elementor-712 .elementor-element.elementor-element-acafbf5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../../../images/Contact/MainBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-712 .elementor-element.elementor-element-acafbf5>.elementor-background-overlay {
    background-color: var(--e-global-color-accent);
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-712 .elementor-element.elementor-element-acafbf5 {
    transition: all 400ms;
    margin-top: -77px;
    margin-bottom: 0px;
    padding: 96px 0px 95px 0px;
}

.elementor-bc-flex-widget .elementor-712 .elementor-element.elementor-element-5669a8a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-712 .elementor-element.elementor-element-5669a8a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-712 .elementor-element.elementor-element-5669a8a.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-712 .elementor-element.elementor-element-5669a8a>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-712 .elementor-element.elementor-element-5669a8a {
    transition: all 400ms;
}

.elementor-712 .elementor-element.elementor-element-18203fc .elementor-heading-title {
    color: var(--e-global-color-secondary);
}

.elementor-712 .elementor-element.elementor-element-18203fc>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-712 .elementor-element.elementor-element-18203fc .elementor-widget-container {
    transition: all 400ms;
}

.elementor-712 .elementor-element.elementor-element-18203fc {
    width: auto;
    max-width: auto;
}

.elementor-712 .elementor-element.elementor-element-e0f2215 {
    text-align: left;
    padding: 0px 198px;
}

.elementor-712 .elementor-element.elementor-element-e0f2215 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-weight: 500;
}

.elementor-712 .elementor-element.elementor-element-e0f2215>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
    padding: 0% 0% 0% 0%;
}

.elementor-712 .elementor-element.elementor-element-e0f2215 .elementor-widget-container {
    transition: all 400ms;
}

.elementor-712 .elementor-element.elementor-element-933990d {
    text-align: center;
    color: var(--e-global-color-text);
}

.elementor-712 .elementor-element.elementor-element-933990d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-712 .elementor-element.elementor-element-933990d .elementor-widget-container {
    transition: all 400ms;
}

.elementor-712 .elementor-element.elementor-element-bc82f56 {
    overflow: hidden;
    padding: 100px 0px 100px 0px;
    transition: all 400ms;
}

.elementor-bc-flex-widget .elementor-712 .elementor-element.elementor-element-6bef522.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-712 .elementor-element.elementor-element-6bef522.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-712 .elementor-element.elementor-element-6bef522>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-712 .elementor-element.elementor-element-6bef522 {
    transition: all 400ms;
}

.elementor-712 .elementor-element.elementor-element-33648dc {
    text-align: right;
}

/* .elementor-712 .elementor-element.elementor-element-33648dc img {
    box-shadow: 20px 20px 0px 0px #FFD36E;
} */

.elementor-712 .elementor-element.elementor-element-33648dc .elementor-widget-container {
    transition: all 400ms;
}

.elementor-bc-flex-widget .elementor-712 .elementor-element.elementor-element-0d13aca.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-712 .elementor-element.elementor-element-0d13aca.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-712 .elementor-element.elementor-element-0d13aca>.elementor-element-populated {
    padding: 0px 0px 0px 100px;
}

.elementor-712 .elementor-element.elementor-element-0d13aca {
    transition: all 400ms;
}

.elementor-712 .elementor-element.elementor-element-b37fc31>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-712 .elementor-element.elementor-element-b37fc31 .elementor-widget-container {
    transition: all 400ms;
}

.elementor-712 .elementor-element.elementor-element-b37fc31 {
    width: auto;
    max-width: auto;
}

.elementor-712 .elementor-element.elementor-element-8174c07>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-712 .elementor-element.elementor-element-8174c07 .elementor-widget-container {
    transition: all 400ms;
}

.elementor-712 .elementor-element.elementor-element-491b255 .elementor-widget-container {
    transition: all 400ms;
}

@media(min-width:768px) {
    .elementor-712 .elementor-element.elementor-element-6bef522 {
        width: 35%;
    }

    .elementor-712 .elementor-element.elementor-element-0d13aca {
        width: 65%;
    }
}

@media(max-width:1024px) {
    .elementor-712 .elementor-element.elementor-element-acafbf5 {
        margin-top: -65px;
        margin-bottom: 0px;
        padding: 43px 20px 26px 20px;
    }

    .elementor-712 .elementor-element.elementor-element-5669a8a>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-712 .elementor-element.elementor-element-bc82f56 {
        padding: 60px 20px 60px 20px;
    }

    .elementor-bc-flex-widget .elementor-712 .elementor-element.elementor-element-6bef522.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }

    .elementor-712 .elementor-element.elementor-element-6bef522.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }

    .elementor-712 .elementor-element.elementor-element-6bef522>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-bc-flex-widget .elementor-712 .elementor-element.elementor-element-0d13aca.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }

    .elementor-712 .elementor-element.elementor-element-0d13aca.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }

    .elementor-712 .elementor-element.elementor-element-0d13aca>.elementor-element-populated {
        padding: 0px 0px 0px 60px;
    }
}

@media(max-width:767px) {
    .elementor-712 .elementor-element.elementor-element-acafbf5 {
        margin-top: -118px;
        margin-bottom: 0px;
        padding: 120px 20px 40px 20px;
    }

    .elementor-712 .elementor-element.elementor-element-5669a8a>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }

    .elementor-712 .elementor-element.elementor-element-e0f2215 {
        text-align: center;
    }

    .elementor-712 .elementor-element.elementor-element-e0f2215>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-712 .elementor-element.elementor-element-bc82f56 {
        padding: 0px 20px 595px 20px;
    }

    .elementor-712 .elementor-element.elementor-element-6bef522>.elementor-element-populated {
        padding: 0px 20px 0px 0px;
    }

    .elementor-712 .elementor-element.elementor-element-0d13aca>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }
}

#contact-graphics {
    position: absolute;
    background: #f5be02;
    top: 0px;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 31px 0px;
}

#contactbg {
    position: absolute;
    right: -10px;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .elementor-712 .elementor-element.elementor-element-e0f2215{
        padding: 0px 156px;
    }
    #contact-graphics {
        left: 0px;
        width: 39%;
        padding: 86px 0px;
    }
}

@media only screen and (max-width: 600px) {
    .elementor-712 .elementor-element.elementor-element-e0f2215 .elementor-heading-title{
        font-size: 18px;
        line-height: 20px;
    }
    .elementor-712 .elementor-element.elementor-element-e0f2215{
        padding: 0px 125px 0px 0px;
    }
    .elementor-712 .elementor-element.elementor-element-acafbf5 {
        background-position: right;
    }
    #contact-graphics {
        top: 794px;
        left: 0px;
    }
    
}