.elementor-689 .elementor-element.elementor-element-05dd049:not(.elementor-motion-effects-element-type-background),
.elementor-689 .elementor-element.elementor-element-05dd049>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../../../images/About/01/MainBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-689 .elementor-element.elementor-element-05dd049>.elementor-background-overlay {
    background-color: var(--e-global-color-accent);
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-689 .elementor-element.elementor-element-05dd049 {
    transition: all 400ms;
    margin-top: -63px;
    margin-bottom: 0px;
    padding: 175px 0px 266px 0px;
}

.elementor-bc-flex-widget .elementor-689 .elementor-element.elementor-element-ed06689.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-689 .elementor-element.elementor-element-ed06689.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-689 .elementor-element.elementor-element-ed06689.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-689 .elementor-element.elementor-element-ed06689>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-ed06689 {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-c513745 .elementor-heading-title {
    color: var(--e-global-color-secondary);
}

.elementor-689 .elementor-element.elementor-element-c513745>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-c513745 .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-c513745 {
    width: auto;
    max-width: auto;
}

.elementor-689 .elementor-element.elementor-element-b146cb3 {
    text-align: center;
}

.elementor-689 .elementor-element.elementor-element-b146cb3 .elementor-heading-title {
    color: var(--e-global-color-text);
}

.elementor-689 .elementor-element.elementor-element-b146cb3>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
    padding: 0% 0% 0% 0%;
}

.elementor-689 .elementor-element.elementor-element-b146cb3 .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-608c282 {
    text-align: center;
    color: var(--e-global-color-text);
}

.elementor-689 .elementor-element.elementor-element-608c282>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-608c282 .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-508cfb0 {
    overflow: hidden;
    padding: 148px 0px 148px 0px;
    transition: all 400ms;
    background-image: url(../../../../../images/About/02/Section02BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #e5e7e8;
}

.elementor-bc-flex-widget .elementor-689 .elementor-element.elementor-element-ba8d370.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-689 .elementor-element.elementor-element-ba8d370.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-689 .elementor-element.elementor-element-ba8d370>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-ba8d370 {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-325c61b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-325c61b .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-325c61b {
    width: auto;
    max-width: auto;
}

.elementor-689 .elementor-element.elementor-element-733cbbf>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-733cbbf .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-506fcbb>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-506fcbb .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-2a7a66d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(14px/2);
}

.elementor-689 .elementor-element.elementor-element-2a7a66d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(14px/2);
}

.elementor-689 .elementor-element.elementor-element-2a7a66d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(14px/2);
    margin-left: calc(14px/2);
}

.elementor-689 .elementor-element.elementor-element-2a7a66d .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-14px/2);
    margin-left: calc(-14px/2);
}

body.rtl .elementor-689 .elementor-element.elementor-element-2a7a66d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-14px/2);
}

body:not(.rtl) .elementor-689 .elementor-element.elementor-element-2a7a66d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-14px/2);
}

.elementor-689 .elementor-element.elementor-element-2a7a66d .elementor-icon-list-icon i {
    color: var(--e-global-color-secondary);
}

.elementor-689 .elementor-element.elementor-element-2a7a66d .elementor-icon-list-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-689 .elementor-element.elementor-element-2a7a66d {
    --e-icon-list-icon-size: 17px;
}

.elementor-689 .elementor-element.elementor-element-2a7a66d .elementor-icon-list-text {
    padding-left: 10px;
}

.elementor-689 .elementor-element.elementor-element-2a7a66d>.elementor-widget-container {
    margin: 0px 0px 0px 50px;
}

.elementor-689 .elementor-element.elementor-element-2a7a66d .elementor-widget-container {
    transition: all 400ms;
}

.elementor-bc-flex-widget .elementor-689 .elementor-element.elementor-element-798caa4.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-689 .elementor-element.elementor-element-798caa4.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-689 .elementor-element.elementor-element-798caa4>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-798caa4 {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-e289ab6 {
    text-align: right;
}

/* .elementor-689 .elementor-element.elementor-element-e289ab6 img {
    box-shadow: 20px 20px 0px 0px #99FFCD;
} */

.elementor-689 .elementor-element.elementor-element-e289ab6 .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact .funfact-icon img {
    margin-bottom: 10px;
}

.elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact-icon {
    font-size: 60px;
}

.elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact svg {
    max-width: 60px;
}

.elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact-icon,
.elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact svg {
    margin-bottom: 0px;
    padding: 10px;
    transform: rotate(0deg);
}

.elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact .funfact-content .number-percentage-wraper {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-8352cd5-font-family), Sans-serif;
    font-size: var(--e-global-typography-8352cd5-font-size);
    font-weight: var(--e-global-typography-8352cd5-font-weight);
    line-height: var(--e-global-typography-8352cd5-line-height);
    letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
    word-spacing: var(--e-global-typography-8352cd5-word-spacing);
}

.elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact .funfact-title {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
}

.elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact {
    background-color: var(--e-global-color-7a90a35);
}

.elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact .elementskit-funfact-inner {
    padding: 20px 40px 30px 40px;
}

.elementor-689 .elementor-element.elementor-element-a0b50a7>.elementor-widget-container {
    margin: -180px 0px 0px -50px;
}

.elementor-689 .elementor-element.elementor-element-a0b50a7 .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-a0b50a7 {
    width: auto;
    max-width: auto;
}

.elementor-689 .elementor-element.elementor-element-0bf35ad {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-720ceea>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-720ceea {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-c553117 {
    --divider-border-style: dashed;
    --divider-color: var(--e-global-color-d59e8a8);
    --divider-border-width: 2px;
}

.elementor-689 .elementor-element.elementor-element-c553117 .elementor-divider-separator {
    width: 100%;
}

.elementor-689 .elementor-element.elementor-element-c553117 .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-689 .elementor-element.elementor-element-c553117 .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-4b18199 {
    padding: 100px 0px 130px 0px;
    transition: all 400ms;
    background-image: url(../../../../../images/About/03/Section03BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 600;
}

.elementor-689 .elementor-element.elementor-element-ca85a38>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-ca85a38 {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-9b3d3f3 {
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.elementor-689 .elementor-element.elementor-element-9b3d3f3>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-9b3d3f3 .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-c3d4332 {
    text-align: left;
    width: 50%;
    max-width: 50%;
    align-self: flex-end;
}

.elementor-689 .elementor-element.elementor-element-c3d4332>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 100px;
}

.elementor-689 .elementor-element.elementor-element-c3d4332 .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-5047861 {
    margin-top: 130px;
    margin-bottom: 0px;
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-a189686>.elementor-element-populated {
    padding: 0px 75px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-a189686 {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-01eb27e.elementor-view-stacked .elementor-icon {
    background-color: transparent;
    fill: var(--e-global-color-accent);
    color: var(--e-global-color-accent);
}

.elementor-689 .elementor-element.elementor-element-01eb27e.elementor-view-framed .elementor-icon,
.elementor-689 .elementor-element.elementor-element-01eb27e.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-689 .elementor-element.elementor-element-01eb27e.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-accent);
}

.elementor-689 .elementor-element.elementor-element-01eb27e.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-689 .elementor-element.elementor-element-01eb27e.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-689 .elementor-element.elementor-element-01eb27e.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-689 .elementor-element.elementor-element-01eb27e .elementor-icon {
    font-size: 50px;
}

.elementor-689 .elementor-element.elementor-element-01eb27e .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-689 .elementor-element.elementor-element-01eb27e .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-689 .elementor-element.elementor-element-01eb27e>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-01eb27e .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-4c1bf3d .elementor-heading-title {
    color: var(--e-global-color-e632858);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
    -webkit-text-stroke: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #fe5e00;
    stroke: #fe5e00;
}

.elementor-689 .elementor-element.elementor-element-4c1bf3d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-4c1bf3d .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-4c1bf3d {
    width: initial;
    max-width: initial;
    top: 10px;
}

body:not(.rtl) .elementor-689 .elementor-element.elementor-element-4c1bf3d {
    right: 101px;
}

body.rtl .elementor-689 .elementor-element.elementor-element-4c1bf3d {
    left: 150px;
}

.elementor-689 .elementor-element.elementor-element-fa80e56>.elementor-element-populated {
    padding: 0px 61px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-fa80e56 {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-48359bf.elementor-view-stacked .elementor-icon {
    background-color: transparent;
    fill: var(--e-global-color-accent);
    color: var(--e-global-color-accent);
}

.elementor-689 .elementor-element.elementor-element-48359bf.elementor-view-framed .elementor-icon,
.elementor-689 .elementor-element.elementor-element-48359bf.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-689 .elementor-element.elementor-element-48359bf.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-accent);
}

.elementor-689 .elementor-element.elementor-element-48359bf.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-689 .elementor-element.elementor-element-48359bf.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-689 .elementor-element.elementor-element-48359bf.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-689 .elementor-element.elementor-element-48359bf .elementor-icon {
    font-size: 50px;
}

.elementor-689 .elementor-element.elementor-element-48359bf .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-689 .elementor-element.elementor-element-48359bf .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-689 .elementor-element.elementor-element-48359bf>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-48359bf .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-4627a3e .elementor-heading-title {
    color: var(--e-global-color-e632858);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
    -webkit-text-stroke: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #f5be02;
    stroke: #f5be02;
}

.elementor-689 .elementor-element.elementor-element-4627a3e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-4627a3e .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-4627a3e {
    width: initial;
    max-width: initial;
    top: 10px;
}

body:not(.rtl) .elementor-689 .elementor-element.elementor-element-4627a3e {
    right: 89px;
}

body.rtl .elementor-689 .elementor-element.elementor-element-4627a3e {
    left: 150px;
}

.elementor-689 .elementor-element.elementor-element-2e091a4>.elementor-element-populated {
    padding: 0px 58px 0px 16px;
}

.elementor-689 .elementor-element.elementor-element-2e091a4 {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-1352a2f.elementor-view-stacked .elementor-icon {
    background-color: transparent;
    fill: var(--e-global-color-accent);
    color: var(--e-global-color-accent);
}

.elementor-689 .elementor-element.elementor-element-1352a2f.elementor-view-framed .elementor-icon,
.elementor-689 .elementor-element.elementor-element-1352a2f.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-082cfa4);
    color: var(--e-global-color-082cfa4);
    border-color: var(--e-global-color-082cfa4);
}

.elementor-689 .elementor-element.elementor-element-1352a2f.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-accent);
}

.elementor-689 .elementor-element.elementor-element-1352a2f.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-689 .elementor-element.elementor-element-1352a2f.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-689 .elementor-element.elementor-element-1352a2f.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-689 .elementor-element.elementor-element-1352a2f .elementor-icon {
    font-size: 50px;
}

.elementor-689 .elementor-element.elementor-element-1352a2f .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-689 .elementor-element.elementor-element-1352a2f .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-689 .elementor-element.elementor-element-1352a2f>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-1352a2f .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-e31d3fb .elementor-heading-title {
    color: var(--e-global-color-e632858);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
    -webkit-text-stroke: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #0695a6;
    stroke: #0695a6;
}

.elementor-689 .elementor-element.elementor-element-e31d3fb>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-e31d3fb .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-e31d3fb {
    width: initial;
    max-width: initial;
    top: 10px;
}

body:not(.rtl) .elementor-689 .elementor-element.elementor-element-e31d3fb {
    right: 69px;
}

body.rtl .elementor-689 .elementor-element.elementor-element-e31d3fb {
    left: 150px;
}

.elementor-689 .elementor-element.elementor-element-340a318:not(.elementor-motion-effects-element-type-background),
.elementor-689 .elementor-element.elementor-element-340a318>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../../../images/About/04/Section04BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 600;
}

.elementor-689 .elementor-element.elementor-element-340a318 {
    transition: all 400ms;
    padding: 104px 0px 104px 0px;
}

.elementor-689 .elementor-element.elementor-element-340a318>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-689 .elementor-element.elementor-element-95bc040.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-689 .elementor-element.elementor-element-95bc040.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-689 .elementor-element.elementor-element-95bc040.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-689 .elementor-element.elementor-element-95bc040>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-689 .elementor-element.elementor-element-95bc040>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-95bc040 {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-875e944 .video-content {
    text-align: center;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-875e944 .ekit-video-popup-btn {
    padding: 0px 0px 0px 6px;
    font-family: var(--e-global-typography-f4de07b-font-family), Sans-serif;
    font-size: var(--e-global-typography-f4de07b-font-size);
    font-weight: var(--e-global-typography-f4de07b-font-weight);
    line-height: 88px;
    letter-spacing: var(--e-global-typography-f4de07b-letter-spacing);
    word-spacing: var(--e-global-typography-f4de07b-word-spacing);
    width: 80px;
    height: 80px;
    color: var(--e-global-color-accent);
    background-color: var(--e-global-color-primary);
    border-width: 0px 0px 0px 0px;
    border-color: var(--e-global-color-text);
}

.elementor-689 .elementor-element.elementor-element-875e944 .ekit-video-popup-btn i {
    font-size: 21px;
}

.elementor-689 .elementor-element.elementor-element-875e944 .ekit-video-popup-btn svg {
    max-width: 21px;
}

.elementor-689 .elementor-element.elementor-element-875e944 .ekit-video-popup-btn svg path {
    stroke: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-689 .elementor-element.elementor-element-875e944 .ekit-video-popup-btn:hover {
    color: var(--e-global-color-accent);
    background-color: var(--e-global-color-secondary);
}

.elementor-689 .elementor-element.elementor-element-875e944 .ekit-video-popup-btn:hover svg path {
    stroke: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-689 .elementor-element.elementor-element-875e944 .ekit-video-popup-btn,
.elementor-689 .elementor-element.elementor-element-875e944 .ekit-video-popup-btn:before {
    border-radius: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-875e944>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-875e944 .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-f0cbe70:not(.elementor-motion-effects-element-type-background),
.elementor-689 .elementor-element.elementor-element-f0cbe70>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-d59e8a8);
}

.elementor-689 .elementor-element.elementor-element-f0cbe70 {
    transition: all 400ms;
    padding: 50px 0px 50px 0px;
}

.elementor-689 .elementor-element.elementor-element-f0cbe70>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-689 .elementor-element.elementor-element-052b460.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-689 .elementor-element.elementor-element-052b460.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-689 .elementor-element.elementor-element-052b460>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-052b460 {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-16ed27c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-16ed27c .elementor-widget-container {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-452d62a>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-689 .elementor-element.elementor-element-452d62a {
    transition: all 400ms;
}

.elementor-689 .elementor-element.elementor-element-3e7b90d .elementor-widget-container {
    transition: all 400ms;
}

@media(max-width:1024px) {
    .elementor-689 .elementor-element.elementor-element-05dd049 {
        margin-top: -16px;
        margin-bottom: 0px;
        padding: 185px 20px 60px;
    }

    .elementor-689 .elementor-element.elementor-element-ed06689>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-508cfb0 {
        padding: 60px 20px 60px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-ba8d370>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-506fcbb>.elementor-widget-container {
        padding: 0px 20px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-2a7a66d {
        width: 100%;
        max-width: 100%;
    }

    .elementor-689 .elementor-element.elementor-element-798caa4>.elementor-element-populated {
        padding: 0px 20px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact .funfact-content .number-percentage-wraper {
        font-size: var(--e-global-typography-8352cd5-font-size);
        line-height: var(--e-global-typography-8352cd5-line-height);
        letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
        word-spacing: var(--e-global-typography-8352cd5-word-spacing);
    }

    .elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact .funfact-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact .elementskit-funfact-inner {
        padding: 10px 20px 20px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-a0b50a7>.elementor-widget-container {
        margin: -120px 0px 0px -40px;
    }

    .elementor-689 .elementor-element.elementor-element-0bf35ad {
        padding: 0px 20px 0px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-4b18199 {
        padding: 60px 20px 20px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-ca85a38>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-c3d4332>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-c3d4332 {
        width: 50%;
        max-width: 50%;
    }

    .elementor-689 .elementor-element.elementor-element-5047861 {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .elementor-689 .elementor-element.elementor-element-a189686>.elementor-element-populated {
        padding: 20px 0px 20px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-01eb27e>.elementor-widget-container {
        padding: 0px 10px 0px 10px;
    }

    .elementor-689 .elementor-element.elementor-element-4c1bf3d .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    body:not(.rtl) .elementor-689 .elementor-element.elementor-element-4c1bf3d {
        right: 17px;
    }

    body.rtl .elementor-689 .elementor-element.elementor-element-4c1bf3d {
        left: 40px;
    }

    .elementor-689 .elementor-element.elementor-element-4c1bf3d {
        top: 90px;
    }

    .elementor-689 .elementor-element.elementor-element-fa80e56>.elementor-element-populated {
        padding: 20px 0px 20px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-48359bf>.elementor-widget-container {
        padding: 0px 10px 0px 10px;
    }

    .elementor-689 .elementor-element.elementor-element-4627a3e .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    body:not(.rtl) .elementor-689 .elementor-element.elementor-element-4627a3e {
        right: 17px;
    }

    body.rtl .elementor-689 .elementor-element.elementor-element-4627a3e {
        left: 40px;
    }

    .elementor-689 .elementor-element.elementor-element-4627a3e {
        top: 90px;
    }

    .elementor-689 .elementor-element.elementor-element-2e091a4>.elementor-element-populated {
        padding: 20px 0px 20px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-1352a2f>.elementor-widget-container {
        padding: 0px 10px 0px 10px;
    }

    .elementor-689 .elementor-element.elementor-element-e31d3fb .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    body:not(.rtl) .elementor-689 .elementor-element.elementor-element-e31d3fb {
        right: 17px;
    }

    body.rtl .elementor-689 .elementor-element.elementor-element-e31d3fb {
        left: 40px;
    }

    .elementor-689 .elementor-element.elementor-element-e31d3fb {
        top: 90px;
    }

    .elementor-689 .elementor-element.elementor-element-340a318 {
        padding: 45px 20px 45px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-95bc040>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-875e944 .ekit-video-popup-btn {
        padding: 0px 0px 0px 7px;
        font-size: var(--e-global-typography-f4de07b-font-size);
        line-height: 86px;
        letter-spacing: var(--e-global-typography-f4de07b-letter-spacing);
        word-spacing: var(--e-global-typography-f4de07b-word-spacing);
        width: 80px;
        height: 80px;
    }

    .elementor-689 .elementor-element.elementor-element-875e944 .ekit-video-popup-btn i {
        font-size: 21px;
    }

    .elementor-689 .elementor-element.elementor-element-875e944 .ekit-video-popup-btn svg {
        max-width: 21px;
    }

    .elementor-689 .elementor-element.elementor-element-f0cbe70 {
        padding: 25px 20px 25px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-052b460>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }

    .elementor-689 .elementor-element.elementor-element-16ed27c {
        text-align: center;
    }

    .elementor-689 .elementor-element.elementor-element-452d62a>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-689 .elementor-element.elementor-element-05dd049 {
        margin-top: -23px;
        margin-bottom: 0px;
        padding: 69px 20px 40px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-ed06689>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-b146cb3 {
        text-align: center;
    }

    .elementor-689 .elementor-element.elementor-element-b146cb3>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-508cfb0 {
        padding: 40px 20px 40px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-ba8d370>.elementor-element-populated {
        padding: 20px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-506fcbb>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-2a7a66d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-798caa4>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact .funfact-content .number-percentage-wraper {
        font-size: var(--e-global-typography-8352cd5-font-size);
        line-height: var(--e-global-typography-8352cd5-line-height);
        letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
        word-spacing: var(--e-global-typography-8352cd5-word-spacing);
    }

    .elementor-689 .elementor-element.elementor-element-a0b50a7 .elementskit-funfact .funfact-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-689 .elementor-element.elementor-element-a0b50a7>.elementor-widget-container {
        margin: -80px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-4b18199 {
        padding: 40px 20px 40px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-ca85a38>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-9b3d3f3 {
        text-align: center;
        width: 100%;
        max-width: 100%;
    }

    .elementor-689 .elementor-element.elementor-element-c3d4332 {
        text-align: center;
        width: 100%;
        max-width: 100%;
    }

    .elementor-689 .elementor-element.elementor-element-c3d4332>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
        padding: 0% 0% 0% 0%;
    }

    .elementor-689 .elementor-element.elementor-element-5047861 {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .elementor-689 .elementor-element.elementor-element-a189686>.elementor-element-populated {
        padding: 20px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-01eb27e .elementor-icon-box-icon {
        margin-bottom: 15px;
    }

    .elementor-689 .elementor-element.elementor-element-01eb27e .elementor-icon-box-wrapper {
        text-align: center;
    }

    .elementor-689 .elementor-element.elementor-element-01eb27e .elementor-icon-box-title {
        margin-bottom: 5px;
    }

    .elementor-689 .elementor-element.elementor-element-01eb27e>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-01eb27e {
        width: 100%;
        max-width: 100%;
    }

    .elementor-689 .elementor-element.elementor-element-4c1bf3d .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    body:not(.rtl) .elementor-689 .elementor-element.elementor-element-4c1bf3d {
        right: 30px;
    }

    body.rtl .elementor-689 .elementor-element.elementor-element-4c1bf3d {
        left: 30px;
    }

    .elementor-689 .elementor-element.elementor-element-4c1bf3d {
        top: 44px;
    }

    .elementor-689 .elementor-element.elementor-element-fa80e56>.elementor-element-populated {
        padding: 20px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-48359bf .elementor-icon-box-icon {
        margin-bottom: 15px;
    }

    .elementor-689 .elementor-element.elementor-element-48359bf .elementor-icon-box-wrapper {
        text-align: center;
    }

    .elementor-689 .elementor-element.elementor-element-48359bf .elementor-icon-box-title {
        margin-bottom: 5px;
    }

    .elementor-689 .elementor-element.elementor-element-48359bf>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-48359bf {
        width: 100%;
        max-width: 100%;
    }

    .elementor-689 .elementor-element.elementor-element-4627a3e .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    body:not(.rtl) .elementor-689 .elementor-element.elementor-element-4627a3e {
        right: 30px;
    }

    body.rtl .elementor-689 .elementor-element.elementor-element-4627a3e {
        left: 30px;
    }

    .elementor-689 .elementor-element.elementor-element-4627a3e {
        top: 44px;
    }

    .elementor-689 .elementor-element.elementor-element-2e091a4>.elementor-element-populated {
        padding: 20px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-1352a2f .elementor-icon-box-icon {
        margin-bottom: 15px;
    }

    .elementor-689 .elementor-element.elementor-element-1352a2f .elementor-icon-box-wrapper {
        text-align: center;
    }

    .elementor-689 .elementor-element.elementor-element-1352a2f .elementor-icon-box-title {
        margin-bottom: 5px;
    }

    .elementor-689 .elementor-element.elementor-element-1352a2f>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-1352a2f {
        width: 100%;
        max-width: 100%;
    }

    .elementor-689 .elementor-element.elementor-element-e31d3fb .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    body:not(.rtl) .elementor-689 .elementor-element.elementor-element-e31d3fb {
        right: 30px;
    }

    body.rtl .elementor-689 .elementor-element.elementor-element-e31d3fb {
        left: 30px;
    }

    .elementor-689 .elementor-element.elementor-element-e31d3fb {
        top: 44px;
    }

    .elementor-689 .elementor-element.elementor-element-340a318 {
        padding: 10px 20px 60px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-95bc040>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-875e944 .ekit-video-popup-btn {
        padding: 0px 0px 0px 07px;
        font-size: var(--e-global-typography-f4de07b-font-size);
        line-height: 86px;
        letter-spacing: var(--e-global-typography-f4de07b-letter-spacing);
        word-spacing: var(--e-global-typography-f4de07b-word-spacing);
    }

    .elementor-689 .elementor-element.elementor-element-875e944>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-f0cbe70 {
        padding: 40px 20px 40px 20px;
    }

    .elementor-689 .elementor-element.elementor-element-052b460>.elementor-element-populated {
        padding: 0px 0px 10px 0px;
    }

    .elementor-689 .elementor-element.elementor-element-452d62a>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-689 .elementor-element.elementor-element-ba8d370 {
        width: 47%;
    }

    .elementor-689 .elementor-element.elementor-element-798caa4 {
        width: 53%;
    }

    .elementor-689 .elementor-element.elementor-element-052b460 {
        width: 30%;
    }

    .elementor-689 .elementor-element.elementor-element-452d62a {
        width: 70%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-689 .elementor-element.elementor-element-ca85a38 {
        width: 100%;
    }

    .elementor-689 .elementor-element.elementor-element-a189686 {
        width: 33.3%;
    }

    .elementor-689 .elementor-element.elementor-element-fa80e56 {
        width: 33.3%;
    }

    .elementor-689 .elementor-element.elementor-element-2e091a4 {
        width: 33.3%;
    }

    .elementor-689 .elementor-element.elementor-element-95bc040 {
        width: 100%;
    }

    .elementor-689 .elementor-element.elementor-element-052b460 {
        width: 100%;
    }

    .elementor-689 .elementor-element.elementor-element-452d62a {
        width: 100%;
    }
}

.elementor-689 .elementor-element.elementor-element-508cfb0 h2, .elementor-689 .elementor-element.elementor-element-508cfb0 h5, .elementor-689 .elementor-element.elementor-element-508cfb0 h4 {
    color: #fff;
}

.elementor-689 .elementor-element.elementor-element-5047861 .elementor-view-stacked .elementor-icon {
    padding: 0px;
}
#ourvalues hr {
    width: 80px;
    height: 8px;
    border: 0px;
}
#ourvalues {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#abtmainbanner {
    position: absolute;
    width: 100px;
    background: #f4c41ce3;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 214px 0px 0px 0px;
}
#abtmainbanner-text {
    position: relative;
    left: -57px;
    transform: rotate(270deg);
    width: max-content;
}

.elementor-689 .elementor-element.elementor-element-e289ab6 img {
    transition: 2s;
}
.elementor-689 .elementor-element.elementor-element-e289ab6 img:hover {
    transform: scale(.90);
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    #abtmainbanner {
        padding: 102px 0px 0px 0px;
    }
    .elementor-689 .elementor-element.elementor-element-ba8d370 {
        width: 100%;
    }
    .elementor-689 .elementor-element.elementor-element-508cfb0 .elementor-container, .elementor-689 .elementor-element.elementor-element-340a318 .elementor-container {
        justify-content: center;
    }
    .elementor-689 .elementor-element.elementor-element-798caa4{
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    #abtmainbanner-text {
        left: -34px;
    }
    #abtmainbanner-text h3 {
        font-size: 18px;
    }
    #abtmainbanner{
        width: 40px;
        padding: 56px 0px 0px 0px;
    }
    .elementor-689 .elementor-element.elementor-element-508cfb0 .elementor-container {
        flex-direction: column-reverse;
    }
}